<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>{% block title %}{% endblock %} | gAImes</title>
<nav>
<a class="home-button" href="{{ url_for('compete.index') }}">gAIme Competition</a>
	{% if (g.user.get('privileges') >= 2) or (g.user.get('privileges') == -1) %}
		<a class="button" href="{{ url_for('games.view_games', username=g.user.get('username')) }}">Your Games</a>
	{% endif %}
	<a class="button" href="{{ url_for('players.view_players', username=g.user.get('username')) }}">Your Players</a>
	<a class="button" href="{{ url_for('about') }}">About</a>
</nav>
<section class='content'>
<header>
{% block header %}{% endblock %}
</header>
{% for message in get_flashed_messages() %}
	<div class='flash'>{{ message }}</div>
{% endfor %}
{% block content %}{% endblock %}
</section>
