{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Join the gAIme!{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Available Games</h2>
  {% for game in games %}
    <article class="game">
      <header>
        <div class="game-listing">
          <h1>{{ game['name'] }} - {{ game['num_competitors'] }} Competitor{% if game['num_competitors'] > 1 %}s{% endif %}</h1>
          <ul>
            <li>author: {{ game['username'] }}</li>
            <li>created: {{ game['created_dt'].strftime('%Y-%m-%d') }}</li>
          </ul>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
