{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Join the gAIme!{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>Don't see the game you want to play? <a href="{{ url_for('upload.upload_game') }}">Upload it!</a>
  <h2>Available Games</h2>
  {% for game in games %}
  <a class="game-link" href="{{ url_for('compete.game_info', game_id=game['game_id']) }}">
    <article class="game">
      <header>
        <div class="game-listing">
          <h1>{{ game['name'] }} - {{ game['num_competitors'] }} Competitor{% if game['num_competitors'] != 1 %}s{% endif %}</h1>
          <ul>
            <li>author: {{ game['username'] }}</li>
            <li>created: {{ game['created_dt'].strftime('%Y-%m-%d') }}</li>
          </ul>
        </div>
      </header>
    </article>
	</a>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
<footer>
	<hr>
	<a href='https://github.com/ELautzenhiser/gAImeCompetition' target='_blank'><img src="{{ url_for('static', filename='GitHub-Mark.png') }}"></a>
</footer>
{% endblock %}
