{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Join the gAIme!{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h1>Welcome to the gAIme competition!</h1>
  {% for game in games %}
    <article class="game">
      <header>
        <div>
          <h1>{{ game['name'] }}</h1>
          <ol>
            <li>author: {{ game['username'] }}</li>
            <li>created: {{ game['created_dt'].strftime('%Y-%m-%d') }}</li>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
