{% extends 'base.html' %}

{% block header %}
     <h1>{% block title %}About Us{% endblock %}</h1>
{% endblock %}

{% block content %}
     <h3>About the Project</h3>
     <p>This is a project aimed towards hosting competitions between
     AI (or if-statement based) programs in games like poker or chess.
     Build and submit your program to see how it does against others.</p>
     <p>See more at our <a href='https://github.com/ELautzenhiser/gAImeCompetition'>Github repository.</a></p>
     <h3>About the People</h3>
     <p>We're Ben Dittmer, Ben Jones, and Edward Lautzenhiser.</p>
{% endblock %}
