{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Game{% endblock %}</h1>
{% endblock %}

{% block content %}

  <style>
    textarea {
      height: 100px;
      width: 90%;
    }

    input {
      display: block;
    }
  </style>

  <br>
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ name }}" required>
    <br>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ description }}</textarea>
    <br>
    <select id="min_players" name="min_players">
    {% for i in range(2,9) %}
      <option value="{{ i }}" {% if min_players==i %}selected{% endif %}>{{ i }}</option>
    {% endfor %}
    </select>
    <label for="min_players">Minimum number of players</label>
    <br>
    <select id="max_players" name="max_players">
    {% for i in range(2,9) %}
      <option value="{{ i }}" {% if max_players==i %}selected{% endif %}>{{ i }}</option>
    {% endfor %}
    </select>
    <label for="max_players">Maximum number of players</label>
    <br><br>
    <input type=file id="referee_file">
    <br><br>
    <label for="referee_code">Code</label>
    <textarea name="referee_code" data-editor="python" class="referee_code">{{ referee_code }}</textarea>
    <div id="referee_ace"></div>
    <input type="submit" value="Save">
  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js"></script>
  <script src="/static/js/ace.js"></script>
  <script>
    function handleFileSelect(evt) {
      var files = evt.target.files
      f = files[0]

      var reader = new FileReader()

      reader.onload = (function(theFile) {
        return function(e) {
          var editor = ace.edit("referee_ace")
          var session = editor.getSession()
          session.setValue( e.target.result )
        }
      })(f)

      reader.readAsText(f)
    }
    document.getElementById('referee_file').addEventListener('change', handleFileSelect, false)
  </script>
{% endblock %}


