{% extends 'base.html' %}

{% block header %}
     <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='basicform.css') }}">

  <form method='post'>
    <div>
      <label for='username'>Username</label>
      <input name='username' id='username' required>
    </div>
    <div>
      <label for='email'>Email Address</label>
      <input name='email' id='email' required>
    </div>
    <div>
      <label for='fname'>First Name</label>
      <input name='fname' id='fname'>
    </div>
    <div>
      <label for='lname'>Last Name</label>
      <input name='lname' id='lname'>
    </div>
    <div>
      <label for='password'>Password</label>
      <input type='password' name='password' id='password' required>
    </div>
    <input type='submit' value='Register'>
  </form>
{% endblock %}
